body{
    background-image: url("../logo2.jpg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.titulo{
    text-align: center;
    font-size: 50px;
    color: white;
}