/* Estilo para el fondo de la pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif; /** tipo de letra **/
}
.fondo {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fondo-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Para que quede al fondo */
}

/* Estilo para los titulos*/
.titulo{
    text-align: center;
    color: white;
    font-size: 50px;
}
/* Estilo para los subtitulos*/
.subtitulo{
    color: white;
    margin-left: 25px;
    font-size: 25px;
    margin-top: 10px;
}
/* Estilo para la descripcion*/
.descripcion{
    color: white;
    text-align: center;
    margin-left: 25px;
    font-size: 14px ;
    margin-top: 10px;
}
/* Estilo del parrafo*/
.parrafo{
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
.botones {
    position: relative;
    height: 68vh;
    margin-left: 25px;
}
button,
#boton_derecha {
    background-color: #bc25ca;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
/* Botón en la esquina inferior derecha */
#boton_derecha {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #bc25ca;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo opcional al pasar el mouse */
button:hover {
    background-color: #9512a1;
}
#boton_derecha:hover{
    background-color: #9512a1;
}
/*estilo gormulario */
.titulo_formulario{
    text-align: center;
    margin-bottom: 20px;
    color:white;
}
.formulario{
    display: none;                          /* Oculto por defecto */
    position: fixed;                        /* Se mantiene fijo aunque haya scroll */
    z-index: 1000;                          /* Se superpone sobre otros elementos */
    left: 0; top: 0;
    width: 100%;
    height: 100%;                                 /* Ocupa toda la pantalla */
    overflow: auto;                               /* Permite scroll si el contenido es grande */
    box-shadow: 0 8px 20px rgb(187, 38, 187);   /* añadimos sombras */
    border-radius: 15px;
}
label{
    font-weight: bold; /** texto en negrita **/
    color: black;
}

.contenido_formulario{
    background-color: #9512a1;         
    margin: 10% auto;                 
    padding: 20px;                     
    border-radius: 10px;               
    width: 400px;                      
    max-width: 90%;
    color: white;                    
}

.cerrar{
    float: right;        
    font-size: 24px;     
    font-weight: bold;
    cursor: pointer;
}

/*estilo de los input y text area */
input[type=text], textarea {
    width: 100%;        /* Ocupa todo el ancho del formulario */
    padding: 8px;       /* Espacio interno */
    margin: 5px 0 15px 0; /* Margen superior e inferior */
    box-sizing: border-box; /* Para que padding no aumente el ancho */
}

/* Botón de enviar formulario */
input[type=submit] {
    padding: 10px 20px;
    background-color: #2a169e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2d12c5;
}

#mensajeExito {
    display: none;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

ul li {
  color: #00ffcc; /* turquesa */
  font-size: 18px;
  font-weight: bold;
}
